body {
	background-color: #313236;
	font-family: 'Nunito', sans-serif;
}

:root {
	--header-bg-color: #4c51b3;
	--today-bg-color: #0d77ce;
	--meetings-bg-color: white;
}

h2 {
	text-align: center;
	column-gap: 10px;
}

.grid-container {
	display: grid;
	gap: 20px 20px;
}

#date {
	background-color: var(--header-bg-color);
	border-radius: 0.3rem;
	padding: 0.1rem;
	text-align: center;
}

#today {
	background-color: var(--today-bg-color);
	border-radius: 0.3rem;
	padding: 0.1rem;
	text-align: center;
}

#time {
	color: white;
	font-weight: 400;
	margin-bottom: 0;
}

#time:hover {
	cursor: pointer;
	color: bisque;
}

#saved {
	padding: 0.1rem;
	text-align: center;
	border-radius: 0.3rem;
	background-color: var(--meetings-bg-color);
}

#saved:hover {
	background-color: bisque;
	cursor: pointer;
}

#delete {
	padding: 0.1rem;
	text-align: center;
	border-radius: 0.3rem;
	background-color: red;
}

#delete:hover {
	background-color: rgb(136, 1, 1);
	cursor: pointer;
}

#back, #next {
	display: inline-block;
}

#back {
	float: left;
}

#next {
	float: right;
}

#add {
	float: right;
}